body {
    margin: 1%;
}

#god {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

iframe {
    border-radius: 6px;
    margin-bottom: 9px;
}

::selection {
    background: rgba(0,0,0,.2);
}

/*Home*/

/*Outer Left*/
#outerleft {
    background-color: white;
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#topmidleft {
    background-color: darkgrey;
    width: 100%;
    height: 32%;
    animation-delay: .3s;
}

#botmidleft {
    background-color: white;
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: space-between;
}

#leftinnerleft {
    background-image: url("writing.png");
    background-color: darkgrey;
    width: 49%;
    animation-delay: .9s;
    transition: 0.5s;
}

#leftinnerleft:hover {
    filter: brightness(70%);
    transition: 0.5s;
}


#rightinnerleft {
    background-color: white;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topbabyleft {
    background-color: black;
    width: 100%;
    height: 49%;
    font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    font-size: 180%;
}

#botbabyleft {
    background-image: url("presentations.png");
    width: 100%;
    height: 48%;
    animation-delay: 1.5s;
    transition: 0.5s;
}

#botbabyleft:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

/*Outer Right*/
#outerright {
    background-color: white;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topinnerright {
    background-color: darkgrey;
    width: 100%;
    height: 32%;
    animation-delay: 1.2s;
}

#botinnerright {
    /*background-image: url("musicalternate.png"); UNCOMMENT ALL UNDER ONCE OTHER NEW IMAGES ARE DONE*/
    background-image: url("music.jpg");
    width: 100%;
    height: 66%;
    transition: 0.5s;
    animation-delay: .6s;
    /*background-position: center;*/
}

/*@media only screen and (max-width: 1370px) {
    #botinnerright {
	background-image: url("music2-small.png");
    }
}

@media only screen and (max-width: 2000px) {
    #botinnerright {
	background-image: url("music2-medium.png");
    }
}*/

#botinnerright:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

/*Categories*/
.categorybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 130%;
    text-shadow: 0px 0px 5px black;
    text-decoration: none;
    animation: fade .4s linear;
    animation-fill-mode: both;
    border-radius: 5px;
}

/*Music*/
#musicbody {
    /*background-image:
    linear-gradient(white, white),
    url("musicfaded.png");*/
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  margin: 0;
}

#musicheader {
    font-family: Noto Serif, serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("musicbig.jpg");
    background-color: #11Af59;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#secondheaderbackgroundmusic {
    background-color: #eeeeee;
    color: #119F59;
    padding: 5px 5px 5px 5px;
    border: none;
    border-left: 5px solid #119F59;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif !important;
}

.videoheader {
    background-color: rgba(100,100,100,.2);
    border: none;
    width: 560;
    border-radius: 8px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

.videoheader h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.videoheader h10 {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #333333;
}

.videoheader p {
    margin-top: 0px;
    margin-bottom: 15px;
}

#video-unavailable {
    width: 540;
    height: 45;
    background-color: red;
    border-radius: 6px;
    margin-bottom: 9px;
}

#video-unavailable p {
    font-family: Calibri, sans-serif;
    color: #333333;
}

#video-unavailable p a {
    color: #119F59;
}

#video-unavailable p a:visited {
    color: #119F59;
}

/*Writing*/
#testwritingbody {
    background-image:
    linear-gradient(white, white),
    /*url("writingfaded2.png");*/
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

#writingheader {
    font-family: Noto Serif, serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#back {
    float: left;
    margin-left: 5px;
    margin-right: -100px;
    margin-top: 63px;
    background-color: rgba(255,255,255,0.5);
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 10px;
    border-radius: 3px;
    transition: 0.3s;
}


#back:hover {
    background-color: rgba(255,255,255,0.7);
    transition: 0.3s;
    cursor: default;
}

#secondheader {
    text-align: center;
    margin: 0px 10px;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

#secondheaderbackground {
    background-color: #00000011;
    color: #0044BB;
    padding: 5px 5px;
    border: none;
    border-left: 5px solid #0044BB;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bookcontainer {
    width: 90%;
    border: none;
    padding: 0px;
    border-radius: 8px;
    max-width: 1000px;
    background-color: rgba(170,140,140,.2);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    font-weight: normal;
    transition: .3s;
    line-height: 1.3;
}

.bookcontainer #booktext div h10 {
    font-size: 16px;
}

.bookcontainer:hover {
    background-color: rgba(145,145,145,.3);
    transition: .3s;
    cursor: pointer;
}

.bookcontainer img {
    border-radius: 7px;
    transition: .3s;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: center;
}

.bookcontainer:hover img {
    filter: brightness(87%);
    transition: .3s;
}

#booktext {
    text-align: left;
}

#booktext p {
    font-size: 16px;
    margin-left: 13px;
    margin-top: -4px;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    color: #555555;
}

#booktext h10 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookcontainer #booktext h3 {
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.bookcontainer #booktext .middledot {
    color: #888888;
    margin-left: 13px;
}

/*Writing -> Bookpage*/
#smallwritingheaderbar {
    font-family: 'Noto Serif', serif;
    font-size: 33;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
}

.bookinfo {
    width: 90%;
    border: none;
    padding: 0px;
    border-radius: 4px;
    max-width: 1000px;
    background-color: transparent;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    transition: .3s;
}

.bookinfo img {
    border-radius: 2px;
    margin-right: 50px;
    margin-top: 5px;
}

.bookinfo #booktext h3 {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 30;
}

.bookinfo #booktext p {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 0px;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    color: #555555;
}

.bookinfo #booktext .middledot {
    color: #888888;
}

.bookinfo #booktext h10 {
    font-size: 16;
}

.bookinfo #booktext {
    max-width: 100%;
}

.bookinfo #booktext img {
    margin-top: 10px;
}

.readbutton {
    margin-left: 20px;
    background-color: #0055FF;
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 10px 22px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.readbutton:hover {
    background-color: #0033DD;
    transition: 0.3s;
}

#storypageback {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #ddd;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s;
    border: none;
    margin-bottom: 2px;
}

#storypageback:hover {
    background-color: #ccc;
    transition: 0.3s;
}

#storypageback:focus {
    background-color: #aaa;
}

#storypageback p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#storypageback img {
    margin-top: 2px;
}

#authorsnotecontainer {
    width: 50%;
    max-width: 1000px;
    min-width: 700px;
    background-color: #1111;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.authorsnote {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20;
}

.authorsnotetext {
    font-family: Calibri, sans-serif;
    font-size: 17;
}

/*Writing -> Bookpage -> Reader*/
#smallfixedwritingheaderbar {
    font-family: 'Noto Serif', serif;
    font-size: 33;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    position: fixed;
}

#storypagebackreader {
    margin-left: 10px;
    margin-top: 76px;
    background-color: #ddd;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s;
    border: none;
    margin-bottom: 2px;
    position: fixed;
}

#storypagebackreader:hover {
    background-color: #ccc;
    transition: 0.3s;
}

#storypagebackreader:focus {
    background-color: #aaa;
}

#storypagebackreader p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#storypagebackreader img {
    margin-top: 2px;
}

#headerbar {
    background-color: #113388;
    color: white;
    width: 735px;
    margin-top: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 5px white;
}

#booktitle {
    margin-bottom: 0px;
    margin-top: 4px;
    font-family: Calibri;
    font-size: 18;
}

#parttitle {
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: Calibri;
    font-size: 25;
}

#text {
    width: 700px;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 19;
    line-height: 1.4;
    color: #303030;
    padding-top: 5px;
    text-align: left !important;
}

#headerwrap {
    width: 100%;
    position: fixed;
    margin-top: 60px;
    pointer-events: none;
}

@media only screen and (max-width: 1065px) {
    #storypagebackreader {
	margin-top: 12px;
	background-color: rgba(255,255,255,0.5);
    }
    #storypagebackreader:hover {
	background-color: rgba(255,255,255,0.7);
    }
}

#backtotop {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #bbbc;
    display: block;
    font-family: Calibri, sans-serif;
    color: black;
    border: none;
    padding: 20px 15px;
    margin-bottom: 16px;
    margin-right: 23px;
    transform: rotate(90deg);
    border-radius: 4px;
    transition: 0.3s;
}

#backtotop:hover {
    background-color: #999b;
    transition: 0.3s;
}

.attop {
    display: none !important;
    background-color: red !important;
    transition: .5s;
}

#by {
    width: 700px;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 17;
    line-height: 1.4;
    color: #505050;
    padding-top: 150px;
}

/*Presentations*/
#psheader {
    font-family: Noto Serif, serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("presentationsbig.png");
    background-color: #7700FF;
    display: flex;
    justify-content: center;
}

#secondheaderbackgroundps {
    background-color: #eeeeee;
    color: #3300BB;
    padding: 5px 5px;
    border: none;
    border-left: solid 5px #3300BB;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
}

#presentationsbody iframe {
    border-radius: 7px;
}

#presentationsbody .videoheader {
    background-color: rgba(170,140,140,.2);
    border: none;
    width: 560;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

#presentationsbody .videoheaderbottom {
    background-color: rgba(170,140,140,.2);
    border: none;
    width: 560;
    border-radius: 0px 0px 8px 8px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

#presentationsbody .videoheaderbottom a {
    color: #444444;
    text-decoration: none;
    cursor: default;
    /*text-decoration: underline;
    text-decoration-thickness: 1px;*/
}

#presentationsbody .videoheaderbottom p {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 17px;
    font-weight: normal;
    color: #444444;
    font-family: Calibri, sans-serif;
}

/*Concert Page*/
#topline-concert {
    background-color: #555555;
    width: 100%;
    height: 8px;
}

#concertinfo {
    width: 90%;
    max-width: 1000px;
}

#concertinfo img {
    width: 80%;
    border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
    #concertinfo img {
	width: 65%;
    }
}

/*Terminology*/
#termheader {
    font-family: 'Noto Serif', serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-color: #666666;
    display: flex;
    justify-content: center;
}

#termbody #secondheaderbackgroundps {
    background-color: #7700FF;
    color: white;
    padding: 0px 2px;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

#termscontainer {
    background-color: transparent;
    width: 680px;
    font-family: Calibri, sans-serif;
    font-size: 19px;
    text-align: left;
    padding: 10px;
    margin-top: 0px;
}

#termscontainer p {
    margin: 2px;
    margin-left: 20px;
    font-size: 19px;
}

#termbody #back {
    margin-left: 10px;
    margin-top: -108px;
    background-color: #ffffff88;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s;
    border: none;
    margin-bottom: 2px;
}

#termbody #back:hover {
    background-color: #ffffffbb;
    transition: 0.3s;
}

#termbody #back:focus {
    background-color: #ffffff55;
}

#termbody #back p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#termbody #back img {
    margin-top: 2px;
}

/*Animations*/
@keyframes fade {
    0% {
	opacity: 0%;
    }
    100% {
	opacity: 100%;
    }
}
