body {
    margin: 1%;
}

svg {
    display: none;
}

#god {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

iframe {
    border-radius: 6px;
    margin-bottom: 9px;
}

::selection {
    background: rgba(0,0,0,.2);
}

/*New Home*/
#home2body {
    background-color: #0011AA;
    background-image: url('/home/kestrel/Pictures/moon2.jpg');
    background-size: cover;
    margin: 0;
}

#outercenterer {
    display: flex;
    background-color: #0305;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#innercenterer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

#nametitletext {
    color: white;
    font-family: 'Oranienbaum', serif;
    font-size: 8vw;
    margin: 20;
}

#home2enter {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18;
    transition: 0.3s;
    text-decoration: none;
    cursor: default;
}

#home2enter:hover {
    background-color: white;
    color: #000077;
    transition: 0.3s;
}

#home2promotion {
    background-color: #1113;
    border: none;
    border-radius: 6px;
    padding: 11px;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}

#home2promotion:hover {
    background-color: #1115;
    transition: .3s;
}

#home2promotion img {
    width: 200px;
}

/*New Home Mobile*/
@media only screen and (max-width: 980px) {
    #nametitletext {
	font-size: 20vw;
	text-align: center;
    }

    #home2enter {
	font-size: 50px;
	padding: 30px 60px;
	border: solid 6px white;
	margin-top: 40;
    }
}

/*Home*/

/*Outer Left*/
#outerleft {
    background-color: white;
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#topmidleft {
    background-color: darkgrey;
    width: 100%;
    height: 32%;
    animation-delay: .3s;
}

#botmidleft {
    background-color: white;
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: space-between;
}

#leftinnerleft {
    background-image: url("writing.png");
    background-color: darkgrey;
    width: 49%;
    animation-delay: .9s;
    transition: 0.5s;
}

#leftinnerleft:hover {
    filter: brightness(70%);
    transition: 0.5s;
}


#rightinnerleft {
    background-color: white;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topbabyleft {
    background-color: black;
    width: 100%;
    height: 49%;
    font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    font-size: 180%;
}

#botbabyleft {
    background-image: url("presentations.png");
    width: 100%;
    height: 48%;
    animation-delay: 1.5s;
    transition: 0.5s;
}

#botbabyleft:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

/*Outer Right*/
#outerright {
    background-color: white;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topinnerright {
    background-color: darkgrey;
    width: 100%;
    height: 32%;
    animation-delay: 1.2s;
}

#botinnerright {
    /*background-image: url("musicalternate.png"); UNCOMMENT ALL UNDER ONCE OTHER NEW IMAGES ARE DONE*/
    background-image: url("music.jpg");
    width: 100%;
    height: 66%;
    transition: 0.5s;
    animation-delay: .6s;
    /*background-position: center;*/
}

/*@media only screen and (max-width: 1370px) {
    #botinnerright {
	background-image: url("music2-small.png");
    }
}

@media only screen and (max-width: 2000px) {
    #botinnerright {
	background-image: url("music2-medium.png");
    }
}*/

#botinnerright:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

/*Categories*/
.categorybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 130%;
    text-shadow: 0px 0px 5px black;
    text-decoration: none;
    animation: fade .4s linear;
    animation-fill-mode: both;
    border-radius: 5px;
}

#back {
    float: left;
    margin-left: 15px;
    margin-right: -100px;
    margin-top: 63px;
    background-color: transparent;
    color: black;
    border-radius: 50%;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
}

#back:hover {
    background-color: #FFF5;
}


/*Music*/
#musicbody {
    /*background-image:
    linear-gradient(white, white),
    url("musicfaded.png");*/
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  margin: 0;
}

#musicheader {
    font-family: Noto Serif Display, serif;
    font-size: 55px;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("musicbig.jpg");
    background-color: #11Af59;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#secondheaderbackgroundmusic {
    background-color: #eeeeee;
    color: #119F59;
    padding: 5px 5px 5px 5px;
    border: none;
    border-left: 5px solid #119F59;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif !important;
}

.videoheader {
    background-color: rgba(100,100,130,.2);
    border: none;
    width: 560;
    border-radius: 8px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

.videoheader h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.videoheader h10 {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #333333;
}

.videoheader p {
    margin-top: 0px;
    margin-bottom: 15px;
}

#video-unavailable {
    width: 540;
    height: 45;
    background-color: red;
    border-radius: 6px;
    margin-bottom: 9px;
}

#video-unavailable p {
    font-family: Calibri, sans-serif;
    color: #333333;
}

#video-unavailable p a {
    color: #119F59;
}

#video-unavailable p a:visited {
    color: #119F59;
}

/*Writing Main Page*/
#writingmainheader {
    font-family: 'Fraunces', serif;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    border-radius: 0px;
}

#writingmainback {
    float: left;
    margin-left: 15px;
    margin-right: -100px;
    margin-top: 59px;
    background-color: transparent;
    font-family: Verdana, sans-serif;
    color: black;
    border-radius: 50%;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
}

#writingmainback:hover {
    background-color: #FFF5;
}

#sectionscontainer {
    margin: 0;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#sectiontitleclick {
    background-color: #0001;
    color: #04B;
    border: none;
    border-left: 5px solid #04B;
    border-radius: 5px;
    margin: 30px;
    width: 30%;
    padding: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#sectiontitleclick:hover {
    background-color: #0001;
}

.sectiontitletitle {
    font-family: Raleway, sans-serif;
    font-size: 34px;
    line-height: 1;
    padding: 15px 0px;
}

.sectiontitletitle p {
    margin: 0;
}

.sectiontitledescription {
    background-color: transparent;
    transition: .3s;
    line-height: 0;
    color: transparent;
    font-family: Raleway, sans-serif;
}

#sectiontitleclick:hover .sectiontitledescription {
    font-size: 15;
    color: black;
    background-color: #00000012;
    margin: 0;
    padding: 15px 50px;
    transition: .3s;
    line-height: 1.3;
}

#writingmain-authorsnotecontainer {
    width: 50%;
    max-width: 1000px;
    min-width: 700px;
    background-color: #eeeA;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px dashed black;
}

#writingmain-center {
    /*position: absolute;
    bottom: 0;*/
    width: 98%;
    margin: 0;
}

.writingmain-authorsnote {
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    font-size: 20;
}

.writingmain-authorsnotetext {
    font-family: Source Sans Pro, sans-serif;
    font-size: 17;
}

/*Writing - Stories*/
#testwritingbody {
    background-image:
    linear-gradient(white, white),
    /*url("writingfaded2.png");*/
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

#writingheader {
    font-family: Noto Serif Display, serif;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#secondheader {
    text-align: center;
    margin: 0px 10px;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    line-height: 1.2;
}

#secondheaderbackground {
    background-color: #00000011;
    color: #0044BB;
    padding: 5px 5px;
    border: none;
    border-left: 5px solid #0044BB;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif !important;
}

.bookcontainer {
    width: 90%;
    border: none;
    padding: 0px;
    border-radius: 8px;
    max-width: 1000px;
    background-color: rgba(170,140,140,.2);
    display: flex;
    font-family: Raleway, sans-serif;
    font-size: 21px;
    font-weight: normal;
    transition: .3s;
    line-height: 1.3;
}

.bookcontainer #booktext div h10 {
    font-size: 16.5px;
    font-family: Source Sans Pro, sans-serif;
}

.bookcontainer:hover {
    background-color: rgba(145,145,145,.3);
    transition: .3s;
    cursor: pointer;
}

.bookcontainer img {
    border-radius: 7px;
    transition: .3s;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: center;
}

.bookcontainer:hover img {
    filter: brightness(87%);
    transition: .3s;
}

#booktext {
    text-align: left;
}

#booktext p {
    font-size: 15px;
    margin-left: 13px;
    margin-top: -4px;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    color: #555555;
    font-family: Open Sans, sans-serif;
}

#booktext h10 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookcontainer #booktext h3 {
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.bookcontainer #booktext .middledot {
    color: #888888;
    margin-left: 13px;
}

/*Writing Nav*/
#writingnavheader {
    background-color: #05D;
    text-align: center;
    cursor: default;
}

#writingnavheader a {
    color: white;
    display: inline-block;
    padding: 10px 0px;
    font-family: Open Sans, sans-serif;
    font-size: 17;
    font-weight: 800;
    cursor: default;
    transition: .2s;
    width: 240px;
}

#writingnavheader a:hover {
    background-color: #06D;/*#04C*/
    transition: .2s;
}

/*Academic Writing*/
#academicwritingbody i {
    background: url('writing/round_notes_black_24dp.png');
    filter: invert(0) !important;
    margin-right: 15px;
    width: 28px;
    height: 28px;
    font-size: 17 !important;
    display: inline-block;
    background-size: contain;
    border: 2px solid black;
    border-radius: 50%;
}

.academicclicker p {
    margin: 0;
    display: inline-block;
}

.academicclicker {
    padding: 10px 30px;
    background-color: #0022;
    border: none;
    border-radius: 10px;
    font-family: Raleway, sans-serif;
    font-size: 15;
    display: flex;
    align-items: center;
    transition: .2s;
}

.academicclicker:hover {
    background-color: #0023;
    transition: .2s;
}

/*Writing -> Bookpage*/
#storydetailsbody {
    margin: 0;
    background-color: white;
}

#smallwritingheaderbar {
    font-family: Noto Serif Display, serif;
    font-size: 33;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.bookinfo {
    width: 90%;
    border: none;
    padding: 0px;
    border-radius: 4px;
    max-width: 1000px;
    background-color: transparent;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    transition: .3s;
}

.bookinfo img {
    border-radius: 7px;
    margin-right: 30px;
    margin-top: 5px;
}

.bookinfo #booktext h3 {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 30;
    font-family: 'Source Sans Pro', sans-serif;
}

.bookinfo #booktext p {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 0px;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    color: #555555;
    font-family: Open Sans, sans-serif;
}

.bookinfo #booktext .middledot {
    color: #888888;
}

.bookinfo #booktext h10 {
    font-size: 17;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
}

.bookinfo #booktext {
    max-width: 100%;
}

.bookinfo #booktext img {
    margin-top: 10px;
}

.readbutton {
    margin-left: 20px;
    background-color: #0055FF;
    border: none;
    padding: 9px 24px 9px 24px;
    border-radius: 6px;
    color: white;
    font-size: 17;
    transition: 0.3s;
    display: flex !important;
    align-items: center;
}

.readbutton:hover {
    background-color: #0033DD;
    transition: 0.3s;
}

.readbutton p {
    color: white !important;
    margin: 0 !important;
    margin-left: 15 !important;
    font-size: 17 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
}

i {
    background: url('writing/book-svgrepo-com.svg');
    height: 18px;
    width: 18px;
    filter: invert(100);
    margin: 0;
    display: inline-block;
    background-size: contain;
}

#storypageback {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #ddd0;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    border: 0px solid #eee;
    margin-bottom: 2px;
}

#storypageback:hover {
    background-color: #dde;
    transition: 0.3s;
}

#storypageback:focus {
    background-color: #ccd;
}

#storypageback p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#storypageback img {
    margin-top: 2px;
}

#authorsnotecontainer {
    width: 100%;
    min-width: 700px;
    background-color: rgba(1,1,1,.1);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}

.authorsnote {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.authorsnotetext {
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#leftline {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17;
    line-height: 1.3;
    margin: 0 !important;
    margin-bottom: -13 !important;
    border-left: solid 4px #afafaf;
    padding-left: 10px;
    color: #222;
}

.seriesmarker {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17;
    line-height: 1.3;
    margin: 0;
    border-left: solid 4px #111;
    padding-left: 10px;
    color: black;
}

#ssmall {
    font-size: 16 !important;
    margin-bottom: -10 !important;
}

/*Writing -> Bookpage -> Reader*/
#smallfixedwritingheaderbar {
    font-family: 'Noto Serif Display', serif;
    font-size: 33;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-image: url("writingbig.png");
    background-color: #0055FF;
    display: flex;
    justify-content: center;
    position: fixed;
}

#storypagebackreader {
    margin-left: 10px;
    margin-top: 76px;
    background-color: transparent;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s;
    border: none;
    margin-bottom: 2px;
    position: fixed;
    font-weight: bold;
}

#storypagebackreader:hover {
    background-color: #ddd;
    transition: 0.3s;
}

#storypagebackreader:focus {
    background-color: #aaa;
}

#storypagebackreader p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#storypagebackreader img {
    margin-top: 2px;
}

#headerbar {
    background-color: #111;
    color: white;
    width: 735px;
    margin-top: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px white;
}

#booktitle {
    margin-bottom: 0px;
    margin-top: 4px;
    font-family: Raleway, sans-serif;
    font-size: 18;
}

#parttitle {
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: Raleway, sans-serif;
    font-size: 20;
}

#text {
    width: 700px;
    font-family: Lusitana, serif;
    font-size: 19;
    line-height: 1.4;
    color: #303030;
    padding-top: 5px;
    text-align: left !important;
}

#authorsnotecontainer a {
    color: #0055FF;
}

#authorsnotecontainer a:visited {
    color: #0044FF;
}

#headerwrap {
    width: 100%;
    position: fixed;
    margin-top: 60px;
    pointer-events: none;
}

@media only screen and (max-width: 1065px) {
    #storypagebackreader {
	margin-top: 12px;
	background-color: rgba(255,255,255,0.5);
    }
    #storypagebackreader:hover {
	background-color: rgba(255,255,255,0.7);
    }
}

#backtotop {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #bbcc;
    display: block;
    font-family: Calibri, sans-serif;
    color: black;
    border: none;
    padding: 20px 15px;
    margin-bottom: 16px;
    margin-right: 23px;
    transform: rotate(90deg);
    border-radius: 8px;
    transition: 0.3s;
}

#backtotop:hover {
    background-color: #999b;
    transition: 0.3s;
}

.attop {
    display: none !important;
    background-color: red !important;
    transition: .5s;
}

#by {
    width: 700px;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 17;
    line-height: 1.4;
    color: #505050;
    padding-top: 150px;
}

/*Read New*/
#articleheaderbar {
    background-color: orange;
    text-align: center;
}

/*Presentations*/
#psheader {
    font-family: Noto Serif Display, serif;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-image: url("presentationsbig.png");
    background-color: #7700FF;
    display: flex;
    justify-content: center;
}

#secondheaderbackgroundps {
    background-color: #eeeeee;
    color: #3300BB;
    padding: 5px 5px;
    border: none;
    border-left: solid 5px #3300BB;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
}

#presentationsbody iframe {
    border-radius: 7px;
}

#presentationsbody .videoheader {
    background-color: rgba(170,140,140,.2);
    border: none;
    width: 560;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

#presentationsbody .videoheaderbottom {
    background-color: rgba(170,140,140,.2);
    border: none;
    width: 560;
    border-radius: 0px 0px 8px 8px;
    font-family: 'Calibri', sans-serif;
    font-size: 17;
}

#presentationsbody .videoheaderbottom a {
    color: #444444;
    text-decoration: none;
    cursor: default;
    /*text-decoration: underline;
    text-decoration-thickness: 1px;*/
}

#presentationsbody .videoheaderbottom p {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 17px;
    font-weight: normal;
    color: #444444;
    font-family: Calibri, sans-serif;
}

/*Concert Page*/
#concert-watch-body {
    margin: 0;
    background-color: rgb(7,7,7);
}

#concert-watch-body ::selection {
    background: #eee;
    color: rgb(7,7,7);
}

#concertinfo {
    width: 90%;
    max-width: 1200px;
}

#concertvideocontainer {
    background-color: red;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
}

#concertinfo video {
    width: 100% !important;
}

@media only screen and (max-width: 1300px) {
    width: 50%; !important
}

@media only screen and (max-width: 1000px) {
    #concertinfo img {
	width: 65%;
    }
}

#concertinfo h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#concertinfo p {
    font-size: 18px;
    margin-left: 13px;
    font-weight: normal;
    display: inline-block;
    color: #EEEEEE;
    font-family: Open Sans, sans-serif;
    margin-top: 5px;
}

.descriptiontext {
    width: 50%;
    font-size: 16px !important;
}

#creditsbox {
    background-color: rgba(255,255,255,.05);
    width: 60%;
    border-radius: 8px;
    padding: 5px;
}

#creditsbox h2 {
    margin-top: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 4px;
    font-weight: 400;
}

#creditsbox p {
    font-size: 17;
    margin: 0;
}

.strongcreditstext {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 800 !important;
    font-size: 19 !important;
}

#creditstable {
    display: flex;
    justify-content: center;
}

#leftcolumn {
    width: 50%;
    text-align: right;
}

#leftcolumn p {
    margin-right: 3px;
}

#rightcolumn {
    width: 50%;
    text-align: left;
}

#rightcolumn p {
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.creditspacertext {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 800 !important;
    font-size: 19 !important;
    color: red;
    opacity: 0;
}

#rightcolumnsongs p {
    margin-top: 0 !important;
}

.creditsmallspacertext {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 17 !important;
    color: red;
    opacity: 0;
}


#watchback {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #ddd0;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    border: 0px solid #eee;
    margin-bottom: 2px;
    position: sticky;
}

#watchback:hover {
    background-color: #fff1;
    transition: 0.3s;
}

#watchback:focus {
    background-color: #fff2;
}

#watchback p {
    margin: 0px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
    color: white;
    font-weight: bold;
}

#watchback img {
    margin-top: 3px;
    filter: invert(100%);
}

/*Video.js Custom Skin 2*/
.video-js .vjs-progress-control .vjs-progress-holder {
    overfow: hidden !important;
}

.video-js .vjs-slider-bar { /*playbar played progress*/
    background-color: #00b6f0 !important;
    height: 100% !important;
    border-radius: 10px !important;
    margin-left: 1 !important;
}

.video-js .vjs-play-progress {
    border-radius: 30px !important;
    perspective: 1px !important;
}

.video-js .vjs-play-progress::before { /*playbar playhead*/
    color: white !important;
    position: absolute !important;
    z-index: 2;
    font-size: 16 !important;
}

/*.video-js .vjs-progress-holder .vjs-load-progress, .video-js .vjs-progress-holder .vjs-load-progress div, .video-js .vjs-progress-holder .vjs-play-progress {
    overflow: hidden !important;
    border-radius: 12px !important;
}*/

.video-js .vjs-slider { /*Unplayed, unloaded playbar progress*/
    background-color: rgba(255,255,255,.1) !important;
    height: 5px !important;
    border-radius: 10px;
    overflow: visible !important;
}

.video-js .vjs-load-progress div { /*loaded unplayed progress*/
    background-color: rgba(255,255,255,.3) !important;
    height: 5px !important;
    border-radius: 5px;
    position: absolute !important;
    margin-left: 0 !important;
}

.video-js .vjs-load-progress {
    background-color: transparent !important;
    border-radius: 5px !important;
    filter: drop-shadow(0px 0px 3px black);
}

.vjs-control-bar { /*control bar background*/
    /*background-image: linear-gradient(transparent,rgba(0,0,0,.6)) !important;*/
    height: 40 !important;
    background-color: #111d !important;
}

.vjs-button > .vjs-icon-placeholder::before { /*icons*/
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 2.5em !important;
}

.video-js .vjs-time-control {
    display: block !important;
    line-height: 40px !important;
    padding: 0 !important;
    font-family: Lato, sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
}

.video-js .vjs-current-time {
    margin-left: 10px !important;
}

.video-js .vjs-duration {
    display: none !important;
}

.video-js .vjs-time-divider {
    display: none !important;
}

vjs-time-divider div {
    width: 5px !important;
}

.video-js .vjs-remaining-time {
    display: block !important;
}

.vjs-menu-content {
    background-color: lightgreen !important;
    padding: 10px !important;
}

.vjs-menu-item {
    padding: 10px !important;
}

.vjs-menu-item:hover {
    background-color: orangered !important;
}

.js-focus-visible .vjs-menu li.vjs-selected:hover, .vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover {
    background-color: yellow !important;
}

.video-js .vjs-fullscreen-control {
    margin-right: 5px !important;
}

.video-js .vjs-play-control {
    margin-left: 5px !important;
}

.video-js .vjs-control:focus, .video-js .vjs-control:focus::before, .video-js .vjs-control:hover::before {
    text-shadow: none !important;
}

.video-js .vjs-control:hover {
    font-size: 12 !important;
    transition: .3s;
}

.video-js .vjs-control {
    transition: .3s;
}

.video-js .vjs-big-play-button {
    background-color: rgba(255,255,255,.5) !important;
    border: none !important;
}

/*Terminology*/
#termheader {
    font-family: 'Noto Serif', serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-color: #666666;
    display: flex;
    justify-content: center;
}

#termbody #secondheaderbackgroundps {
    background-color: #7700FF;
    color: white;
    padding: 0px 2px;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

#termscontainer {
    background-color: transparent;
    width: 680px;
    font-family: Calibri, sans-serif;
    font-size: 19px;
    text-align: left;
    padding: 10px;
    margin-top: 0px;
}

#termscontainer p {
    margin: 2px;
    margin-left: 20px;
    font-size: 19px;
}

#termbody #back {
    margin-left: 10px;
    margin-top: -108px;
    background-color: #ffffff88;
    font-family: Verdana, sans-serif;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s;
    border: none;
    margin-bottom: 2px;
}

#termbody #back:hover {
    background-color: #ffffffbb;
    transition: 0.3s;
}

#termbody #back:focus {
    background-color: #ffffff55;
}

#termbody #back p {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 17;
}

#termbody #back img {
    margin-top: 2px;
}

/*Animations*/
@keyframes fade {
    0% {
	opacity: 0%;
    }
    100% {
	opacity: 100%;
    }
}
